<div class="mt-4">
  <h1>Danh sách các ban thi</h1>
  <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Khối thi</th>
      <th scope="col">Ban</th>
    </tr>
  </thead>
  
  <tbody>
    {{#each khois}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.khoi}}</td>
      <td>{{this.ban}}</td>
    </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">Chưa có ban</td>
                </tr>
    {{/each}}
  </tbody>
  
</table>

<h2><a href="./hocsinh/danhsach.hbs">Danh sách tất cả học sinh</a></h2>
</div>

